.guides {
    display: grid;
    padding: 0 1rem 3rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.guides p {
    margin: 0;
}

.wrapper {
    position: relative;
    padding-top: 24px;
}

.arrow {
    position: absolute;
    top: 0;
    right: 14px;
}

@media (min-width: 668px) {
    .guides {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.guide {
    border: 1px solid var(--ifm-toc-border-color);
    color: var(--ifm-font-color-base);
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none !important;
    padding: 1rem 0 !important;
}

.guide:hover {
    border-color: var(--ifm-tiles-link-hover-color);
    color: var(--ifm-font-color-base);
}