:root {
  --ifm-color-primary: #fff;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-color-secondary: #DBDBDB;
  --ifm-tiles-link-hover-color: #DFC7F9;
  --ifm-footer-link-hover-color: #DFC7F9;
  --ifm-navbar-link-hover-color: #DFC7F9;
  --ifm-menu-color-active: #DFC7F9;
  --ifm-code-font-size: 95%;
}

.pagination-nav__label, .theme-edit-this-page {
  color: #DFC7F9;
}

.theme-edit-this-page:hover {
  color: #DFC7F9;
}

.pagination-nav__link:hover {
  border-color: #DFC7F9;
}

html[data-theme='light'] header.hero.hero--primary {
  color: #262626;
}

html[data-theme='light'] footer.footer--dark {
  background: #f0f2f5;
}

html[data-theme='light'] footer.footer--dark {
  --ifm-footer-title-color: #DFC7F9;
  --ifm-footer-link-color: #595959xF
}

html[data-theme='dark'] footer.footer--dark {
  --ifm-footer-title-color: #DFC7F9;
  --ifm-footer-link-color: #595959xF
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] {
  --ifm-color-primary: #141516;
}

html[data-theme='dark'] header {
  color: #DBDBDB
}

html[data-theme='dark'] main {
  background: var(--ifm-color-primary);
}

html[data-theme='dark'] footer.footer--dark {
  background: var(--ifm-navbar-background-color);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: #1D1D1D;
}

.table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active, .table-of-contents__link--active code {
  color: #DFC7F9;
}

.navbar__brand, .navbar__logo {
  margin-right: 0 !important;
}

.theme-doc-markdown a {
  color: #DFC7F9;
  text-decoration: none;
}

.theme-doc-markdown a:hover, .theme-doc-markdown a:focus {
  color: #DFC7F9;
}

.theme-doc-markdown.markdown img {
  border-radius: 8px;
}